html {
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "Pretendard Regular";
  color: #111;
  word-wrap: break-word;
  font-kerning: normal;
  word-break: keep-all;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Pretendard Light";
}

h2 {
  display: block;
  align-items: center;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: thin;
}

.icon {
  display: inline-block;
  vertical-align: -2px;
}

p {
  font-size: 1.2em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.92;
}

.buttontypetext {
  font-size: 1.2em;
}

.subtitle {
  font-size: 1.3em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.1;
}

.button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #0336ff;
  font-size: 1.1em;
  font-family: "Pretendard Regular";
  position: relative;
  border: 0px solid black;
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  transition: 0.25s;
}

.button:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
  color: white;
  border: none;
  background-color: #ff0266;
}

.top {
  height: 300px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  border: solid 1px black;
}

.tablecell {
  display: table-cell;

  vertical-align: middle;
}

.details {
  border-bottom: 1px solid black;
  height: auto;
  margin: auto;
  padding: 15px;
  font-size: 1em;
  line-height: 1.2;
}
.subdetails {
  color: black;
  line-height: 1.5;
  text-align: left;
  font-size: 1em;
}

.etc {
  color: #333333;
  line-height: 1.2;
  font-size: 0.9em;
}
.subtext {
  color: #999999;
  line-height: 1.2;
  text-align: left;
  font-size: 0.9em;
}
.client {
  color: #999999;
  line-height: 1.2;
  text-align: right;
  font-size: 0.9em;
}
.blogCard {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  height: 40px;
  width: 280px;
  margin-top: 30px;
  color: black;
  padding: 5px 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .blogCard {
    height: 40px;
    width: 90%;
    font-size: 0.9em;
  }
  
}

.blogCard:hover {
  background-color: #ff0266;
  color: #fff;
}

.noticeCard {
  width: 95%;
  max-width : 450px;
  margin-top: 35px;
  background-color: white;
  padding: 3px 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card {
  width: 70%;
  margin-top: 35px;
  background-color: white;
  padding: 5px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.notice {
  font-size: 0.9em;
  text-align: center;
}

.quote {
  font-family: "Pretendard Thin";
  font-style: italic;
  color: black;
  line-height: 1.4;
  text-align: center;
  font-size: 1.1em;
}

.ourClient {
  line-height: 1.2;
  text-align: center;
  font-size: 1.7em;
}
.divmargin {
  margin-top: 50px;
}

.Blank {
  height: 100px;
}

.HL {
  color: white;
  background: #ff0266;
}

.half_HL {
  background: linear-gradient(to top, #ff0266 50%, transparent 50%);
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.cta {
  z-index: 9999;
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 550px;
  height: 48px;
  color: #fff;
  background-color: #ff0266;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 4px 2px rgba(25, 24, 23, 0.4);
  -moz-box-shadow: 0 0 4px 2px rgba(25, 24, 23, 0.4);
  box-shadow: 0 0 4px 2px rgba(25, 24, 23, 0.4);
  animation: 0.8s ease fadeIn;
  font-family: inter, sans-serif;
}
