@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/Pretendard-Black.woff2");
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/Pretendard-Bold.woff2");
}@font-face {
  font-family: "Pretendard ExtraBold";
  src: url("../fonts/Pretendard-ExtraBold.woff2");
}@font-face {
  font-family: "Pretendard ExtraLight";
  src: url("../fonts/Pretendard-ExtraLight.woff2");
}@font-face {
  font-family: "Pretendard Light";
  src: url("../fonts/Pretendard-Light.woff2");
}@font-face {
  font-family: "Pretendard Medium";
  src: url("../fonts/Pretendard-Medium.woff2");
}@font-face {
  font-family: "Pretendard Regular";
  src: url("../fonts/Pretendard-Regular.woff2");
}@font-face {
  font-family: "Pretendard SemiBold";
  src: url("../fonts/Pretendard-SemiBold.woff2");
}@font-face {
  font-family: "Pretendard Thin";
  src: url("../fonts/Pretendard-Thin.woff2");
}
